.list-item-container {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.list-item-container img {
	display: flex;
	margin-left: 20px;
	width: 20px;
}

.list-item-container img:hover {
	cursor: pointer;
}

.list-item {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	width: 100%;
	align-items: start;
	border-radius: 10px;
	padding: 25px;
	margin-bottom: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.list-item-content {
	display: block;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
}

.list-item-image {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 20px;
	flex-shrink: 0;
}

.list-item-image img:hover {
	cursor: pointer;
}

.button-icon {
	height: 18px;
	margin: 0px 0px 0px 0px;
}

.sub-list-item {
	padding-left: 20px;
	padding-top: 10px;
}

.rocket {
	border: 1px solid #aaddff;
	background-color: #bbddff;
}

.crewman {
	border: 1px solid #ddaaff;
	background-color: #ddbbff;
}

.crew {
	border: 1px solid #ddffaa;
	background-color: #ddffbb;
}

.launch {
	border: 1px solid #ffddaa;
	background-color: #ffddbb;
}
