{
	"env": {
		"browser": true,
		"es2021": true,
		"jest": true
	},
	"extends": [
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"plugin:prettier/recommended",
		"plugin:react-hooks/recommended",
		"plugin:react/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"plugins": [
		"react",
		"@typescript-eslint",
		"eslint-plugin-import-helpers",
		"prettier",
		"react-refresh"
	],
	"rules": {
		"react/react-in-jsx-scope": "off",
		"explicit-function-return-type": "off",
		"react-refresh/only-export-components": "warn",
		"@typescript-eslint/no-unused-vars": "error",
		"@typescript-eslint/consistent-type-definitions": ["error", "type"],
		"react-hooks/exhaustive-deps": "off",
		"react-hooks/rules-of-hooks": "error",
		"react/button-has-type": "error",
		"react/prop-types": ["error"],
		"react/no-array-index-key": "error"
	},
	"settings": {
		"import/resolver": {
			"typescript": {}
		}
	}
}
