<!DOCTYPE html>
<html>

<head>
	<title>Crewman</title>
	<link rel="stylesheet" href="../styles.css">
	<link rel="icon" href="../../assets/pixel-rocket.png" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Crewman</h1>
	<div class="content-div">
		<header>
			<nav>
				<ul>
					<li><a href="../index.html">Home</a></li>
					<li><a href="rocket.html">Rocket</a></li>
					<li><a href="crewman.html">Crewman</a></li>
					<li><a href="crew.html">Crew</a></li>
					<li><a href="launch.html">Launch</a></li>
				</ul>
			</nav>
		</header>
		<div class="data-div">
			<div id="crewmanList"></div>
		</div>
	</div>
</body>

<footer>
	<h5>
		Made with love in the
		<a href="https://www.joinplank.com/fellowship" target="_blank">Plank Fellowship Programa</a>
	</h5>
</footer>
<script src="../scripts/crewman.js"></script>

</html>