<!DOCTYPE html>
<html>

<head>
	<title>Launch</title>
	<link rel="stylesheet" href="../styles.css">
	<link rel="stylesheet" href="../styles/main.css">
	<link rel="stylesheet" href="../styles/data.css">
	<link rel="stylesheet" href="../styles/nav.css">
	<link rel="stylesheet" href="../styles/modal.css">
	<link rel="stylesheet" href="../styles/notification.css">
	<link rel="icon" href="../../assets/pixel-rocket.png" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
	<div class="content-div">
		<header>
			<a href="../index.html">
				<img src="../../assets/pixel-rocket.png">
			</a>
			<h2>Onboarding<br>Challenge</h2>
			<nav>
				<ul>
					<li>
						<a href="../index.html">
							<img src="../../assets/home-button.svg">
							<h3>Home</h3>
						</a>
					</li>
					<li>
						<a href="rocket.html">
							<img src="../../assets/rocket-button.svg">
							<h3>Rocket</h3>
						</a>
					</li>
					<li>
						<a href="crewman.html">
							<img src="../../assets/crewman-button.svg">
							<h3>Crewman</h3>
						</a>
					</li>
					<li>
						<a href="crew.html">
							<img src="../../assets/crew-button.svg">
							<h3>Crew</h3>
						</a>
					</li>
					<li>
						<a href="launch.html">
							<img src="../../assets/launch-button.svg">
							<h3>Launch</h3>
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="data-div">
			<div class="data-header-div">
				<h1>Launch</h1>
				<a href="#" id="add-launch-button">
					<h4>Add</h4>
					<img src="../../assets/add-circle-button-fill.svg">
				</a>
			</div>
			<div id="launchList"></div>
		</div>
	</div>
	<div class="modal" id="add-launch-modal">
		<div class="modal-content">
			<span class="close" id="add-launch-modal-close-button">&times;</span>
			<h2>Add Launch</h2>
			<form id="add-launch-modal-form">
				<label for="launch-code">Launch code:</label>
				<input type="text" id="add-launch-form-launch-code" name="launch-code" required>
				<label for="date">Date:</label>
				<input type="date" id="add-launch-form-date" name="date" required>
				<label for="success">Success status:</label>
				<select name="success" id="add-launch-form-success">
					<option value="true">Succeed</option>
					<option value="false">Failed</option>
				</select>
				<label for="rocket">Rocket ID:</label>
				<input type="number" id="add-launch-form-rocket" name="rocket" required>
				<label for="crew">Crew ID:</label>
				<input type="number" id="add-launch-form-crew" name="crew" required>
				<button type="submit">
					<h4>Add</h4>
				</button>
			</form>
		</div>
	</div>
	<div class="modal" id="update-launch-modal">
		<div class="modal-content">
			<span class="close" id="update-launch-modal-close-button">&times;</span>
			<h2>Update Launch</h2>
			<form id="update-launch-modal-form">
				<label for="launch-code">Launch code:</label>
				<input type="text" id="update-launch-form-launch-code" name="launch-code" required>
				<label for="date">Date:</label>
				<input type="date" id="update-launch-form-date" name="date" required>
				<label for="success">Success status:</label>
				<select name="success" id="update-launch-form-success">
					<option value="true">Succeed</option>
					<option value="false">Failed</option>
				</select>
				<label for="rocket">Rocket ID:</label>
				<input type="number" id="update-launch-form-rocket" name="rocket" required>
				<label for="crew">Crew ID:</label>
				<input type="number" id="update-launch-form-crew" name="crew" required>
				<button type="submit">
					<h4>Update</h4>
				</button>
			</form>
		</div>
	</div>
	<div class="notification error-notification" id="launch-notification">
		<p id="launch-notification-text"></p>
	</div>
</body>

<footer>
	<h5>
		Made with ❤️ in the
		<a href="https://www.joinplank.com/fellowship" target="_blank">Plank Fellowship Programa</a>
	</h5>
</footer>
<script src="../scripts/notification.js"></script>
<script src="../scripts/rocket.js"></script>
<script src="../scripts/crewman.js"></script>
<script src="../scripts/crew.js"></script>
<script src="../scripts/launch.js"></script>

</html>