<!DOCTYPE html>
<html>

<head>
	<title>Launch</title>
	<link rel="stylesheet" href="../styles.css">
	<link rel="icon" href="../../assets/pixel-rocket.png" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
	<div class="content-div">
		<header>
			<a href="../index.html">
				<img src="../../assets/pixel-rocket.png">
			</a>
			<h2>Onboarding<br>Challenge</h2>
			<nav>
				<ul>
					<li>
						<a href="../index.html">
							<img src="../../assets/home-button.svg">
							<h3>Home</h3>
						</a>
					</li>
					<li>
						<a href="rocket.html">
							<img src="../../assets/rocket-button.svg">
							<h3>Rocket</h3>
						</a>
					</li>
					<li>
						<a href="crewman.html">
							<img src="../../assets/crewman-button.svg">
							<h3>Crewman</h3>
						</a>
					</li>
					<li>
						<a href="crew.html">
							<img src="../../assets/crew-button.svg">
							<h3>Crew</h3>
						</a>
					</li>
					<li>
						<a href="launch.html">
							<img src="../../assets/launch-button.svg">
							<h3>Launch</h3>
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="data-div">
			<div class="data-header-div">
				<h1>Launch</h1>
				<a href="">
					<h4>Add</h4>
					<img src="../../assets/add-circle-button-fill.svg">
				</a>
			</div>
			<div id="launchList"></div>
		</div>
	</div>
</body>

<footer>
	<h5>
		Made with ❤️ in the
		<a href="https://www.joinplank.com/fellowship" target="_blank">Plank Fellowship Programa</a>
	</h5>
</footer>
<script src="../scripts/rocket.js"></script>
<script src="../scripts/crewman.js"></script>
<script src="../scripts/crew.js"></script>
<script src="../scripts/launch.js"></script>

</html>